<ion-view view-title="RATE YOUR NINJA" class:"bar bar-header bar-assertive" >
    
  <h2 class="title">Please rate your ninja</h2>


  <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png" class="js-profile" id="pfrofileimg">
  <div class="list list-inset">
    <label class="item item-input">
    <i class="icon ion-person"></i>
       John Doe
    </label>
    <label class="item item-input">
      <i class="icon ion-ribbon-b"></i> 20
    </label>
    <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
    </label>
  </div>

<div class="list list-inset">

<fieldset class="rating">
  <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
  <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
  <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
</fieldset>
</div>


<button class="button button-outline button-assertive">Submit</button>



</ion-view>
