<ion-view view-title="LOGIN" class="bar-assertive" >
  <ion-content>
    <form ng-submit="doLogin()" autocomplete>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <div class="text-center"><br><b>Don't have an account?</b></div><br>
    <div class="button button-block" ng-click="goToSignUpPage()">Create One Now</div>
  </ion-content>
</ion-modal-view>
