<ion-view view-title="NINJA SET FOR DELIVERY" class:"bar bar-header bar-assertive" >
  <h1>Settings</h1>
  <div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light" style="margin-top:100px;">
    
    <div class="tabs">
          
      <a class="tab-item" href="#/app/userRequestView">
        Request
      </a>
      <a class="tab-item active" href="#">
        Deliver
      </a>
    </div>
  </div>

  <h4 class="title" style="margin: 5%; padding: 5%; background-color:#ccc; text-align: center">THERE IS A REQUEST FOR A DELIVERY IN YOUR IMMEDIATE AREA, 1 KM AWAY</h4>



  <button class="button btn-center button-balanced" style="margin-bottom: 10px; width: 50%" >ACCEPT</button>

  <button class="button button-outline button-assertive" style="width: 50%">DECLINE</button>



</ion-view>
