<ion-view view-title="RATE YOUR NINJA" class:"bar bar-header bar-assertive" >
  <h1>'</h1>
  <div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light" style="margin-top:100px;">
    
    <div class="tabs">
        
        <a class="tab-item active" href="#">
          Favorites
        </a>
        <a class="tab-item" href="#">
          Settings
        </a>
      </div>
    </div>


  <div class="list list-inset">
  <label class="item item-input">
    Name: {{ninja.name}}
  </label>
  <label class="item item-input">
    Points Awarded: {{ninja.pointsAwarded}}
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>
</div>

<div class="list list-inset">


</div>


<button class="button button-outline button-assertive">Submit</button>



</ion-view>
