/* Misc Overrides */

.js-profile{
    width: 150px;
    height: 150px;
}

.show-back-button .back-button.hide {
    display: block;
}

.leaflet-bottom, .leaflet-right {
    display: none !important;
}

/* Buttons Override */

.btn-request {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.button-outline, .btn-center, .button-clear {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.btn-block {
    display: block;
    width: 100%;
    max-width: 320px;
}

/* Rating Stars */

.rating {
    margin-right: 39%;
    border: 0;
}

i {
    float: left;
    margin-right: 10px;
}

img{
    border-radius: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}